.create_room-modal {
  position: fixed;
  z-index: 500;
  border-radius: 3px;
  background-color: white;
  /* width: 70%; */
  border: 1px solid #ccc;
  box-shadow: 3px 3px 4px rgb(100, 97, 97);
  padding: 50px;
  left: 30%;
  top: 30%;
  box-sizing: border-box;
  transition: all 0.35s ease-out;
}
.backdrop {
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 100;
  left: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.5);
}
.close_modal {
  margin: 10px;
  margin-left: auto;
  height: 16px;
  width: 32px;
  margin-left: auto;
  cursor: pointer;
}

/* .modal_field {
  width: 80%;
  background: white;
  border-radius: 5px;
  padding: 20px 10px;
} */
