.top-block {
  height: 74px;
  display: flex;
  justify-content: space-between;
  padding-right: 4.438rem;
  border-bottom: 1px solid rgb(231, 230, 230);
  font-weight: normal;
  font-size: 18px;
  line-height: 152.5%;
  color: rgba(30, 17, 71, 0.5);
}
.top-block p {
  margin-top: 23px;
}
.top-block > button {
  color: black;
  display: flex;
  font-weight: 600;
  font-family: "Axiforma Regular";
  font-size: 16px;
  padding: 0 23px;
  justify-content: space-around;
  margin-top: 16px;
  margin-left: 35px;
  width: 131px;
  height: 42px;
  background: rgba(234, 239, 245, 0.6);
  border-radius: 7px;
}

.form-block {
  height: 655px;
  margin-top: 60px;
  margin-left: 94px;
}
.form-block > p {
  margin-top: 18px;
}
.fields-block {
  display: flex;
  flex-direction: column;
  margin-top: 35px;
}
.field {
  display: flex;
  flex-direction: column;
  margin-bottom: 28px;
}
.field input {
  background: white;
  width: 530px;
  height: 53px;
  padding: 19px 24px;
  border: 1px solid #eaeff5;
  border-radius: 5px;
  font-family: "Axiforma Regular";
  font-size: 16px;
  outline: none;
}
.field input:focus,
.field select:focus {
  border: 1px solid #88c4eb;
}
.field select {
  appearance: none;
  background: white;
  width: 530px;
  height: 56px;
  padding: 19px 24px;
  border: 1px solid #eaeff5;
  border-radius: 5px;
  font-family: "Axiforma Regular";
  background-image: linear-gradient(45deg, transparent 50%, gray 50%),
    linear-gradient(135deg, gray 50%, transparent 50%),
    linear-gradient(to right, #ccc, #ccc);
  background-position: calc(100% - 20px) calc(1em + 10px),
    calc(100% - 15px) calc(1em + 10px), calc(100% - 2.5em) 1.1em;
  background-size: 5px 5px, 5px 5px, 1px 1.5em;
  background-repeat: no-repeat;
}
.field label {
  color: rgba(30, 17, 71, 0.5);
  width: 400px;
}
.field select:invalid {
  color: rgba(30, 17, 71, 0.5);
}
.terms-block {
  display: flex;
  width: 499px;
  height: 56px;
}

.terms-block > input {
  align-self: flex-start;
  margin-right: 10px;
  margin-top: 4px;
}
.terms-block > p {
  align-self: flex-start;
  color: rgba(30, 17, 71, 0.5);
}
.arrow-icon {
  width: 19px;
  height: 19px;
  margin-top: 6px;
}

@media only screen and (max-width: 930px) {
  .top-block {
    display: none;
  }
  .form-block {
    display: flex;
    flex-direction: column;
    margin-left: 21px;
    padding-top: 30px;
  }

  .field input,
  .field select {
    width: 95%;
    background-size: 8px 5px, 5px 5px, 1px 1.5em;
  }

  .terms-block {
    width: 95%;
  }
}
