.confirmation-block {
  margin-top: 90px;
  margin-left: 94px;
}
.confirmation-block img {
  width: 160px;
  margin-bottom: 50px;
}
.confirmation-block > p {
  margin-top: 18px;
}

@media only screen and (max-width: 930px) {
  .confirmation-block {
    margin-top: 125px;
    margin-left: 30px;
  }
}
